 
@if( type === 'card-1'){
    <div class="card-1" >
        <div class="zone-img">
            <img [src]="imgSrc" >

            @if(price && reductionPercentage){
                <!-- <span class="promo"> Promo</span> -->

                <span class="promo"> {{ '-'+ reductionPercentage + '%'}}</span>
            }
            <span class="svg-favorite-heart" 
            #heartRef
            (click)="checkSelected()"  
            role="button" 
            [tabIndex]="0">
                <i class="fa-regular fa-heart fa-lg"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="heading">
                <span class="title"> {{title}}</span>
                @if(price && reductionPercentage){
                    <span [style.color]="'#C04343'"
                    class="price"
                    > {{this.priceReduction}} € </span>
                } @else {
                    <span class="price"
                    > {{price}} € </span>

                }
            </div>
            <div class="content">
                <p> {{content}} </p>
                <app-stars-group [note]="productNote ? productNote : 0" ></app-stars-group>

            </div>
            <div class="card-btn-container" (click)="goTo()">
                    <app-button [type]="'primary'"  >
                        Acheter
                    </app-button>
            </div>
        </div>
    </div> 
}
 


@if (type === 'card-2') {
    <a class="card-2" 
    [routerLink]="['/product']" 
    [queryParams]="{ name: 'categories', value: categoryName}"
    routerLinkActive="router-link-active" 
    >
        <span> {{title.charAt(0).toUpperCase() + title.slice(1)}} </span>
        <img [src]="imgSrc" >
        <div class="shadow-bg">
        </div>
    </a> 
}


@if (type === 'card-3') {
    <a 
    class="card-3" 
    [routerLink]="['/product' ]" 
    [queryParams]="{ name: 'reductions', value: reductionPercentage}"
    
    routerLinkActive="router-link-active" >
        <div class="heading">
            <span> Solde </span>
            <span class="price-info"> {{reductionPercentage}}%</span>
            <span> {{description}} </span>
        </div>
    
        <div class="card-body">
            <img [src]="imgSrc" >
        </div>
    </a>
}


@if (type === 'card-4') {
    <a class=""  [routerLink]="['/product/',id]" >
        <div class="zone-img">
                <img [src]="imgSrc" >
        </div>
        <div class="card-body">
            <div class="heading">
                <span class="title"> {{title}}</span>
            </div>
            <div class="content">
                <p> {{content}} </p>
            </div>
            <div class="card-btn-container">
                <app-button  [type]="'secondary'"  >
                    Acheter
                </app-button>
            </div>
        </div>
    </a> 
    
}

