 
@if( type === 'card-1'){
    <a class="card-1" [routerLink]="['/']">
        <div class="zone-img">
                <img [src]="imgSrc" >
                <span class="svg-zone">
                    <i class="fa-regular fa-heart fa-lg"></i>
                </span>
        </div>
        <div class="card-body">
            <div class="heading">
                <span class="title"> {{title}}</span>
                <span>
                    ${{price}}
                </span>
            </div>
            <div class="content">
                <p>
                    {{content}}
                </p>
                <app-stars-group [note]="productNote ? productNote : 0" ></app-stars-group>

            </div>
            <div class="card-btn-container">
                    <app-button [text]="'Add to cart'" [type]="'primary'"  ></app-button>
            </div>
        </div>
    </a> 
}
 


@if (type === 'card-2') {
    <a class="card-2" [routerLink]="['/']" routerLinkActive="router-link-active" >
        <span> {{title}} </span>
        <img [src]="imgSrc" >
    </a>
    
}


@if (type === 'card-3') {
    <a class="card-3" [routerLink]="['/']" routerLinkActive="router-link-active" >
        <div class="heading">
            <h3> Solde </h3>
            <span class="price-info"> {{reductionPercentage}}<span class="icon-percentage">%</span>
            </span>
            <p> {{description}} </p>
        </div>
    
        <div class="card-body">
            <img [src]="imgSrc" >
        </div>
    </a>
}


@if (type === 'card-4') {
    <a class=""  [routerLink]="['/']" >
        <div class="zone-img">
                <img [src]="imgSrc" >
        </div>
        <div class="card-body">
            <div class="heading">
                <span class="title"> {{title}}</span>
            </div>
            <div class="content">
                <p>
                    {{content}}
                </p>
            </div>
            <div class="card-btn-container">
                    <app-button [text]="'Add to cart'" [type]="'secondary'"  ></app-button>
            </div>
        </div>
    </a> 
    
}

