button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}