input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  // appearance: none;
  // -webkit-appearance: none;
}

// button:disabled {
//   cursor:not-allowed;
//   background-color: #979797;
//   color: #656565;
//   border-color: #E7E5E5;
// }

button {
  all: unset;
  // cursor:pointer;
  // text-align: center;
}



input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   appearance: textfield;
//   -webkit-appearance: none;
//   margin: 0;
// }


/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}