// PRIMARY
$primary-color: #003D29;
$primary_hover: #003D29;
$primary_transparent: #b794f400;

// tertiary
// $secondary-color: #236B54;
$secondary-color: #155e46;

$secondary-color-opacity: rgba($secondary-color, 0.17);

//TERCIARY
$tertiary-color: rgb(243, 243, 243);
$tertiary-color-opacity: rgba($tertiary-color, 0.17);
