
// Mixin pour les styles des boutons
@mixin button-style {
    display: inline-block;
    border: none;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    // background-color: blueviolet;
    &:disabled,
    &:disabled:hover {
        background-color: #d2d2d2;
        color: #656565;
        border-color: #E7E5E5;
    }

    i {
        // background-color: blue;
        padding-right: 5px;
    }

    // &:not(:disabled):focus,
    // &:not(:disabled):active {
    //   outline: none;
    //   box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
    // }
}

/** Card */
@mixin card {
    border: $card-border;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    height: $card-height;
    padding: $card-padding;
    overflow: hidden;
}