
$color: #ff0;
$color-hover: #ff4;
$dark: #222;
$dark-hover: #444;
$light: #eee;
$ultra-light: #fff;

/** Var Mixin - Card */
$card-padding: 0;
$card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$card-height: fit-content;
$card-border-radius: 10px;
$card-border: 1px solid #ccc;






