
<section class="container-product">
        <div class="cart-list-container">
          <div class="cart-container">
                <div class="title">
                  <h5>MON PANIER</h5>
                </div>
                <hr />

     

                <div class="rows-container">
                    <div class="img-container">
                        <img  src="https://i.imgur.com/1GrakTl.jpg" />
                    </div>
                    <div class="description-product">
                        <span class="price">  44.00  &euro; </span>

                        <div class="txt">
                            <span class="row text-muted">Shirt</span>{{'\n'}}
                            <span class="row">Cotton T-shirt</span>
                        </div>
                        <div class="number-action">
                            <input type="number" class="border" value="1" min="1" max="10">
                        </div>

                        <button class="close">
                            &#10005;
                        </button>
                    </div>
              
                </div>
  
                <div class="rows-container">
                    <div class="img-container">
                        <img  src="https://i.imgur.com/1GrakTl.jpg" />
                    </div>
                    <div class="description-product">
                        <span class="price">  44.00  &euro; </span>

                        <div class="txt">
                            <span class="row text-muted">Shirt</span>{{'\n'}}
                            <span class="row">Cotton T-shirt</span>
                        </div>
                        <div class="number-action">
                            <input type="number" class="border" value="1" min="1" max="10">
                        </div>

                        <button class="close">
                            &#10005;
                        </button>
                    </div>
              
                </div>
                <div class="rows-container">
                    <div class="img-container">
                        <img  src="https://i.imgur.com/1GrakTl.jpg" />
                    </div>
                    <div class="description-product">
                        <span class="price">  44.00  &euro; </span>

                        <div class="txt">
                            <span class="row text-muted">Shirt</span>{{'\n'}}
                            <span class="row">Cotton T-shirt</span>
                        </div>
                        <div class="number-action">
                            <input type="number" class="border" value="1" min="1" max="10">
                        </div>

                        <button class="close">
                            &#10005;
                        </button>
                    </div>
              
                </div>
  
           




            <div class="back-to-shop">
                <a href="#" class="text-muted">&leftarrow;
                    Retour
                </a>
            </div>
          </div>


          <div class="summary">
            <div class="title">
              <h5>TOTAL</h5>
            </div>
            <hr />
            <div class="row">
              <div class="col">ITEMS 3</div>
              <div class="col text-right">&euro; 132.00</div>
            </div>
            <div class="row">
                <label>Code de réduction</label>
                <input type="text" id="code" placeholder="Enter your code" />
            </div>
            <div class="row">
              <div class="col">TOTAL DE VOTRE PANIER</div>
              <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn"> PAYER</button>
          </div>
        </div>
</section>