
section {
    max-width: 1235px;
    margin: 0 auto 50px auto ;

    div.heading {
        margin-bottom: 25px;
        h4 {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 0;
        }
    }


    div.content {
        position: relative;
        p {
            font-size: 16px;
            color: red;
        }
    }
}