<section class="container-product">
    <div class="card-wrapper">
          <!-- card left -->
          <div 
          class="product-imgs" 
          [ngClass]="{'full-imgs': (contentType.imgs_url).length > 1}"
           >
            <div class="img-display">
              <div class="img-showcase">
                <img
                  #imageSrc
                  src="{{contentType.imgs_url[0]}}"
                  alt="shoes image"
                />
              </div>
            </div>
            <!-- <h1> longueur {{(contentType.imgs_url).length }}</h1> -->
            @if((contentType.imgs_url).length > 1){
              <div class="img-select">
                @for (item of contentType.imgs_url; track item) {
                  <div class="img-item">
                      <div (click)="updatePreview(item)" >
                        <img src={{item}}  />
                      </div>
                  </div>             
                  
                  }
              </div>
            }

          </div>
          <div class="product-content">
            <h2 class="product-title">{{contentType.title}}</h2>
            <div class="product-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <!-- <span> Avis: 4.7/5 (21 votes)</span> -->
            </div>
  
            <div class="product-price">
               <span>{{contentType.price}} €</span>

              <!-- <p class="last-price">Prix: <span>{{contentType.price}}</span></p> -->
              <!-- <p class="new-price">Nouveau Prix: <span>{{contentType.price}} (5%)</span></p> -->
            </div>
  
            <div class="product-detail">
              <h2>Description:</h2>
              <p>
               {{ contentType.description}}
              </p>
             
              <!-- <ul>
                <li>Couleur: <span>Black</span></li>
                <li>Stock: <span>in stock</span></li>
                <li>Categorie: <span>Shoes</span></li>
              </ul> -->
            </div>
  
            <div class="purchase-info">
              <button type="button" class="btn" (click)="addToCart()">
                Ajouter au panier 
              </button>
            </div>
          </div>
        </div>
</section>