.container-product {
    width: 90%;
    max-width: 1235px;
    margin: 0 auto;
    // background-color: aquamarine;
    margin-top: 80px;



.card-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;

    .product-imgs {
      .img-display {
        overflow: hidden;
        .img-showcase {
          display: flex;
          height: 600px;
          width: 600px;
          transition: all 0.5s ease;

          img {
            min-width: 100%;
            width: 100%;
            display: block;
          }
        }
      }

      .img-select {
        display: flex;

        .img-item {
          margin: 0.3rem;

          div img {
            width: 100%;
          }

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            margin-right: 0;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .product-content {
      padding: 2rem 1rem;

      h2.product-title {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
        display: inline-block;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          width: 100%;
          background: #12263a;
        }
      }

      .product-rating {
        color: #ffc107;
        span {
          font-weight: 600;
          color: #252525;
        }
      }

      .product-price {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;

        .last-price {
          margin-top: 15px;
          font-size: 1rem;
          span {
            font-weight: 400;
          }
        }
        .new-price {
          color: #000000;
          font-size: 1.25rem;
          font-weight: 600;
        }
      
    
      }

      .product-detail {
        h2 {
          text-transform: capitalize;
          color: #12263a;
          padding-bottom: 0.6rem;
        }
      
        p {
          font-size: rem;
          padding: 0.3rem;
          opacity: 0.8;
        }
      
        ul {
          margin: 1rem 0;
          font-size: 0.9rem;
      
          li {
            margin: 0;
            list-style: none;
            background: url("https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png") 
              left center no-repeat;
            background-size: 18px;
            padding-left: 1.7rem;
            margin: 0.4rem 0;
            font-weight: 600;
            opacity: 0.9;
      
            span {
              font-weight: 400;
            }
          }
        }
      }
      
      .purchase-info {
        margin: 1.5rem 0;
      
        .btn {
          border: 1.5px solid #ddd;
          border-radius: 25px;
          text-align: center;
          padding: 0.45rem 0.8rem;
          outline: 0;
          margin-right: 0.2rem;
          margin-bottom: 1rem;
          cursor: pointer;
          color: #fff;
      
          &:first-of-type {
            background: #256eff;
          }
      
          &:last-of-type {
            background: #2b2b2b;
          }
      
          &:hover {
            opacity: 0.9;
          }
        }
      }

      .product-review {

        div.reviews-list {
          
          .review-container {
            background-color: rgb(245, 245, 245);
            margin-top: 5px;
            padding: 5px;
            border-radius:5px;
            .review-header {
              p {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 6px;
                span.username {
                  font-weight: 500;
                  &::first-letter {
                    text-transform:capitalize;
                  }
                }

                span.date {
                  color: rgb(105, 105, 105);
                  font-weight:400;
                  font-size: 12px;
                }

      
              }
  
            }

          }

        }

      }
    }


}
@media screen and (max-width: 600px) {
 
  .card-wrapper {
    // height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    // align-items: center;
  }
  .product-imgs {
    display: flex;

    &.full-imgs {
          flex-direction: column;

    }
  }
  .product-content {
    padding-top: 0;
  }
}

}