<section
  class="hero-img"
  [ngStyle]="{ 'background-image': 'url(' + bgImg + ')' }"
>
  <div class="content-hero">
    <div class="text-hero">
      <h1>Vendez et achetez partout en France</h1>
      <h3>
        Favoriser la deuxième mains est essentiel pour une consommation durable
      </h3>
      <app-button type="secondary" >
        En savoir plus
      </app-button>
  
    </div>
  </div>
</section>

<app-section-group text="Nos catégories"  >
  <swiper-container
    speed="500"
    class="custom-swiper card-2"
    loop="false"
    [breakpoints]="breakpoints"
    #swiper
  >
    @for (item of categoriesList; track item.id) {
    <swiper-slide>
      <app-card 
      type="card-2" 
      [id]="item.id"
      [title]="item.title" 
      [imgSrc]="item.imgSrc">
      </app-card>
    </swiper-slide>
    }
  </swiper-container>

  <button class="swiper-button-prev" (click)="onPrevClick(swiper)">
    &#9664;
  </button>
  <button class="swiper-button-next" (click)="onNextClick(swiper)">
    &#9654;
  </button>
</app-section-group>

<app-section-group text="Les bonnes affaires du jour pour vous" [path]="{path: '/products', name: 'En voir plus' }">
  <swiper-container
    class="custom-swiper card-1"
    speed="500"
    loop="true"
    [breakpoints]="breakpointsCard1"
    #swiper2
  >
    @for (item of goodDealsProduct; track item.id) {
    <swiper-slide>
    <app-card
        type="card-1"
        [id]="item.id"
        [title]="item.title"
        [imgSrc]="item.imgSrc"
        [price]="item.price"
        [productNote]="(item.productNote * 5) / 20"
    >
    </app-card>
    </swiper-slide>
    }
  </swiper-container>
  <button class="swiper-button-prev" (click)="onPrevClick(swiper2)">
    &#9664;
  </button>
  <button class="swiper-button-next" (click)="onNextClick(swiper2)">
    &#9654;
  </button>
</app-section-group>

<app-section-group  text="Nos meilleurs ventes" [path]="{path: '/', name: 'En voir plus' }">

  <swiper-container
    class="custom-swiper card-1"
    speed="500"
    loop="true"
    [breakpoints]="breakpointsCard1"
    #swiper3
  >
    @for (item of bestSoldProduct; track item.id) {
    <swiper-slide>
    <app-card
        type="card-1"
        [id]="item.id"
        [title]="item.title"
        [imgSrc]="item.imgSrc"
        [price]="item.price"
        [productNote]="(item.productNote * 5) / 20"
    >
    </app-card>
    </swiper-slide>
    }
  </swiper-container>
  <button class="swiper-button-prev" (click)="onPrevClick(swiper3)">
    &#9664;
  </button>
  <button class="swiper-button-next" (click)="onNextClick(swiper3)">
    &#9654;
  </button>
</app-section-group>

<app-section-group text="Profiter de nos réductions">
  <div class="container-saving">
    @for (item of savingOptions; track item.id) {
      <app-card
          type="card-3"
          [description]="item.description"
          [imgSrc]="item.imgSrc"
          [reductionPercentage]="item.reduction_percentage"
      >
      </app-card>
      }
  </div>
</app-section-group>
