<section class="hero-img" [ngStyle]="{'background-image': 'url('+ bgImg + ')'}">
    <div class="content-hero">
        <div class="text-hero">
            <h1> Vendez et achetez partout en France</h1>
            <h3> Favoriser la deuxième mains est essentiel pour une consommation durable</h3>
            <app-button text="En savoir plus" type="secondary" />
        </div>
    </div>
</section>

<app-section-group  text="Nos catégories">
    <div class="container"> 

    </div>
</app-section-group>

<app-section-group  text="Nos meilleurs ventes">
    <p> HHHH</p>
</app-section-group>

<app-section-group  text="Les bonnes affaires du jour">
    <p> HHHH</p>
</app-section-group>

<app-section-group  text="Les marques">
    <p> HHHH</p>
</app-section-group>

<app-section-group  text="Les produits populaires de la semaine">
    <p> HHHH</p>
</app-section-group>