section {
  &.hero-img {
    position: relative;
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;

    .content-hero {
      position: absolute;
      width: 90%;
      max-width: 1235px;
      margin: 0 auto;
      height: fit-content;
      padding: 20px;
      bottom: 10px;

      .text-hero {
        background-color: rgb(255, 255, 255);
        width: 400px;
        border-radius: 10px;
        padding: 15px;

        h1 {
          font-size: 1.25rem;
          margin: 1em 0 0 0;
          color: black;
        }

        h3 {
          margin: 1.5em 0;
          color: black;
        }
      }
    }
  }
}


.swiper-button-prev {
  color: #ffffff; 
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.swiper-button-next {
  color: #ffffff; 
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 10px; 
  z-index: 9999; 
  display: none;
}


// swiper-container {
//   width: 100%;
//   height: auto;
//   position: relative;

//   swiper-slide {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

swiper-container:hover + .swiper-button-prev,
swiper-container + .swiper-button-prev:hover
{
  display: block;
}
swiper-container:hover ~ .swiper-button-next,
swiper-container ~ .swiper-button-next:hover
{
  display: block;
}


app-section-group {
  display: block;
  width: 90%;
  max-width: 1235px;
  margin: 0 auto;

  swiper-container.custom-swiper.card-1  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    swiper-slide {
      // flex: 0 0 33.33%;
      app-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  /* SOLDE */
  div.container-saving {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
  
    app-card {
      flex: 1 0 calc(25% - 15px);
      box-sizing: border-box; 
      border-radius: 10px;
      height: 480px;
      &:first-of-type {
        background-color: rgb(224, 234, 255);
        a.card-3 .heading span {
          &:nth-of-type(2){
            color: rgb(101, 137, 214);
          }
        }
      }
      &:nth-of-type(2) {
        background-color: rgb(255, 210, 210);
        a.card-3 .heading span {
          &:nth-of-type(2){
            color: rgb(158, 62, 62);
          }
        }
      }
      &:nth-of-type(3) {
        background-color: rgb(255, 238, 209);
        a.card-3 .heading span {
          &:nth-of-type(2){
            color: rgb(167, 128, 60);
          }
        }
      }
      &:nth-of-type(4) {
        background-color: rgb(230, 255, 217);
        a.card-3 .heading span {
          &:nth-of-type(2){
            color: rgb(86, 133, 61);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1090px){
  app-section-group {
    width: 95%;
  }
}

@media only screen and (max-width: 790px){
  app-section-group div.container-saving app-card {
      flex: 1 1 calc(50% - 15px);
  }
}

@media only screen and (max-width: 500px){
  section.hero-img {
    align-content: center;
    .content-hero {
      position: absolute;
      padding: 0;

      .text-hero {
        width:auto;
      }
    }
  }
}