section {
  &.hero-img {
    position: relative;
    // background-color: rgb(208, 128, 29);
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;

    .content-hero {
      position: absolute;
      width: 90%;
      max-width: 1235px;
      margin: 0 auto;
      height: fit-content;
      padding: 20px;
      bottom: 10px;

      .text-hero {
        background-color: rgb(255, 255, 255);
        width: 400px;
        border-radius: 10px;
        padding: 15px;

        h1 {
          font-size: 1.25rem;
          margin: 1em 0 0 0;
          color: black;
        }

        h3 {
          margin: 1.5em 0;
          color: black;
        }
      }
    }
  }
}


.swiper-button-prev {
  color: #ffffff; 
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.swiper-button-next {
  color: #ffffff; 
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 10px; 
  z-index: 9999; 
  display: none;
}


swiper-container {
  width: 100%;
  height: auto;
  position: relative;

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

swiper-container:hover + .swiper-button-prev,
swiper-container + .swiper-button-prev:hover
{
  display: block;
}
swiper-container:hover ~ .swiper-button-next,
swiper-container ~ .swiper-button-next:hover
{
  display: block;
}


div.container.saving {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}