.footer {
    border-top: 1px solid rgb(237, 237, 237);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(242, 242, 242);
    color: rgb(110, 109, 109);
    text-align: center;
 }