<div class="register-container">
    <h3> Inscription </h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input 
          type="text" 
          formControlName="username" 
          class="form-control" 
          id="username" 
          name="username"   
          [ngClass]="{ 'is-invalid': submitted && controlRegister['username'].errors || controlRegister['username'].touched && controlRegister['username'].invalid}"
        >
        <!-- <ng-template [ngIf]="controlRegister['username'].invalid">
          <div *ngIf="!submitted && controlRegister['username'].touched && controlRegister['username'].invalid">Le nom d'utilisateur n'est pas valide</div>
          <div *ngIf="submitted && controlRegister['username'].errors['required']"   >Un nom d'utilisateur est requis</div>
        </ng-template> -->
      </div>
  
      <div class="form-group">
        <label for="email">Adresse Email</label>
        <input 
        type="email" 
        formControlName="email" 
        class="form-control" 
        id="email" 
        name="email" 
        [ngClass]="{ 'is-invalid': submitted && controlRegister['email'].errors || controlRegister['email'].touched && controlRegister['email'].invalid }"
        >
        <ng-template [ngIf]="controlRegister['email'].invalid" class="alert alert-danger">
            <div *ngIf="!submitted && controlRegister['email'].touched && controlRegister['email'].invalid" [ngClass]= "'error'">L' Email n'est pas valide</div>
            <div *ngIf="submitted && controlRegister['email'].errors && controlRegister['email'].errors['required'] ">L' Email requis.</div>
        </ng-template>
  
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input 
          type="password" 
          formControlName="password" 
          class="form-control" 
          id="password" 
          name="password"
          [ngClass]="{ 'is-invalid': submitted && controlRegister['password'].errors || controlRegister['password'].touched && controlRegister['password'].invalid }"
        >
        <ng-template [ngIf]="controlRegister['password'].invalid" class="alert alert-danger">
            <div *ngIf="!submitted && controlRegister['email'].touched && controlRegister['password'].invalid">Le mot de passe n'est pas valide</div>
            <div *ngIf="submitted && controlRegister['password']">Le Mot de passe requis.</div>
  
        </ng-template>
      </div>
  
      <div>
        <p>Vous avez déjà un compte ? 
          <a class="nav-link" routerLink="/connexion" routerLinkActive="active" > Se connecter</a>
        </p>
      </div>
      <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
    
    <ng-template [ngIf]="submitted && !signUpIsSuccessful && errorMessage" >
      <div class="messages-failed">
        <p>{{ errorMessage }}</p>
      </div>
    </ng-template>
  </div>
  <div class="btn-back">
    <a routerLink="/" >
      <i class="fa-solid fa-arrow-right fa-rotate-180"></i>
      Retour à l'accueil
    </a>
  </div>
  
  