<ng-template #viewRef>

  <div class="modal-container">
    <div class="header">
      <button (click)="close()">X</button>
    </div>
    <div class="title">
      <h2>Filtrer</h2>
    </div>
    <div class="content">
        <form [formGroup]="filtrerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <span>Prix</span>

            <div class="search-price">
              <input 
              type="number" 
              formControlName="minPrice" 
              placeholder="0"
              min="0" 
            />

            <input 
              type="number" 
              formControlName="maxPrice" 
              placeholder="900"
              max="0" 
            />
            </div>

          </div>
        
        

          <div class="form-group">
            <span>Réduction</span>
            @for(  reduction of reductionList; track reduction){
              <label>
                <input 
                  type="radio" 
                  formControlName="reductions" 
                  [value]="reduction"
                  [checked]="reductions.value === reduction + ''"
                  [ngStyle]="{
                    'border': reductions.value === reduction + '' ? '2px solid #0056b3' : '2px solid #007BFF',
                    'backgroundColor':  reductions.value === reduction + '' ? '#007BFF' : null,
                    'boxShadow': reductions.value === reduction + '' ? '0 0 0 4px rgba(0, 123, 255, 0.2)' : null
                  }"
      
              />
                {{ reduction }}%
              </label>
            }
          </div>
          
          <div class="form-group">

            <span>Marques</span>
            @for(brand of brandsList; track brand){
              <label>
                <input 
                  type="radio" 
                  formControlName="brands" 
                  [value]="brand" 
                />
                {{ brand }}
              </label>
            }

          </div>
          
          <div class="form-group">
            <span>Catégories</span>


            @for(category of categoriesList; track category){
              <label>
                <input 
                  type="radio" 
                  formControlName="categories" 
                  [value]="category" 
                />
                {{ category }}
              </label>
            }

          </div>
          
          <div class="form-group btn">

            <app-button 
            type="tertiary"
            class="btn tertiary"
            (click)="onReset()"
            >
            Réinitialiser
          </app-button>

            <app-button 
            type="secondary"
            class="btn btn-primary"
            (click)="getCorrectSearchedData()"
            >
            Filtrer
          </app-button>

          </div>
        </form>
        
        <ng-template [ngIf]="submitted && !signUpIsSuccessful && errorMessage" >
          <div class="messages-failed">
            <p>{{ errorMessage }}</p>
          </div>
        </ng-template>
    </div>

  </div>
</ng-template> 


<section class="container-product">

  <div class="header-sort">
    <h1>
      Les annonces 
      <span> {{productsList.length}} annonces </span>
    </h1>
    <app-button text= 'Filtrer' type="tertiary" (clickEvent)="openModalTemplate(viewRef)" >
      <i class="fa-solid fa-arrow-up-wide-short"></i>
      Filtrer
  </app-button> 
  </div>

  <div class="selected-sorting">
    @for(listValues of listSelected; track listValues){
        <span>{{listValues}} </span>
    }
  </div>

    <div class="grid-container">
      @for (item of productsList; track item.id) {
            <app-card
            type="card-1"
            [id]="item.id"
            [title]="item.title"
            [imgSrc]="item.imgs_url[0]"
            [price]="item.price"
            [productNote]="(item.productNote * 5) / 20"
            [obj]="item"
            [reductionPercentage]="item.reduction+''"
            />
      }
    </div>
</section>
  
