.container-product {
    width: 90%;
    max-width: 1235px;
    margin: 0 auto;
    margin-top: 80px;
    // background-color: aquamarine;
    font-family: Arial, sans-serif;

    .header-sort {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    h1 {
      margin: 0;
    }

    h1 span {
      font-weight: 300;
      font-size: 16px;
    }

    app-button {
      margin-left: 10px;
    }


    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 1rem;
      margin-top: 1rem;
    }
  }
  

  

  .container {
    padding: 1rem;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
  }
  .container button {
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .container button.template {
    margin-right: 2rem;
  }
  .modal-container {
    padding: 1rem;
  }
  .title {
    margin-bottom: 3rem;
  }
  .content p {
    line-height: 1.4;
    font-size: 1.1rem;
  }
  .content .current {
    color: rgb(24, 71, 129);
    font-weight: 600;
  }
  .footer {
    margin-top: 2rem;
  }
  